.container-fluid{
    background-color: white !important;
}
.contenedor-principal{
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding-right: 20px;
}

.contenedor-principal .contenedor-imagen{
    flex: 1;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
display: flex;
justify-content: center;
align-items: center;
color: white;
font-style: oblique;
}

.contenedor-principal .contenedor-elementos {
    flex: 0.6;
}

.contenedor-principal .contenedor-elementos .navbar .container-fluid .navbar-collapse{
    display: flex;
    justify-content: right;
}


.mt-5{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(251, 255, 255);
}

.mt-5 form .mb-3{
    margin-top: 20px;
    margin-bottom: 50px !important;
}
.mt-5 form .mb-3 .form-control{
border: 1px solid #c9c4b5;
}

.mt-5 form .btn-primary{
    width: 100%;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border: none;
}